streamlit
GDAL
fiona
folium==0.13.0
geemap==0.33.0
ipython==8.12.3
ipywidgets==8.1.1
geopandas
leafmap==0.30.0
localtileserver
owslib
palettable
plotly
streamlit
streamlit-folium
tropycal
setuptools==68.2.2